body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: brown;
}

.content{
    margin-left: 7%;
}
.layout{
    display: inline-block;
    border: black solid;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    background-color: rgb(23, 147, 23);
}
.layout img{
    border-radius: 0.3rem;
    border: black solid;
    width: 29vh;
    height: 29vh;
}
.search-wrapper{
    display: inline;
}

#search{
    width: 60%;
    padding: 0.7rem;
    border: black solid;
    border-radius: 1rem;
}
#fruitsDiv{
    background-color: black;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
#fruitsOuter{
    display: none;
}

#pseudoNavb{
    opacity: 0;
}

#navb{
    position: fixed;
    display: inline-block;
    top:0;
    width:120%;
    height: 15%;
    padding: 4vh 0;
    padding-left: 15vw;
    padding-right: 3vw;
    box-shadow: 0.5vh 0.5vh 0.5vh;
    background-color: brown;
}

#scrollTop{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    padding: 2vh;
    background-color: white;
    border-radius: 100%;
    font-size: 4vh;
    display: none;
}
#scrollTop button{
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}